.content-track-artist {
    width: calc(100%);
    margin-right: 45px;
}

.popup-gotab-container {
    padding-right: 6px;
}

.title-list {
    margin: 5px 4px;
}

.list-track::-webkit-scrollbar-track {
    margin-bottom: 14px;
}

.popup-btn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: var(--transitionDuration);
}

.close-notification {
    position: relative;
    height: 27px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
